<ion-view>
  <ion-nav-title>
    <img class="header-logo-left" src="assets/img/logo-white.png"></img>
    Reported Issues
  </ion-nav-title>
  <ion-content class="padding routes">
    <div class="list">
      <div class="item item-divider section">
        My Issues
      </div><!-- /item item-divider section -->
      <div class="card" ng-repeat="item in myItems" ng-click="goItemDetail(item.item_id)">
        <div class="item item-divider header">
          <div class="route-title">
            <div class="top-row">
              <span class="left">
                <img class="list-type" src="assets/icons/issue-{{item.issue_type}}.png">
              </span>
              <span class="left">{{ item.issue_type | uppercase }}</span>
              <span class="right miles">{{ item.location.address.neighbourhood }}</span>
            </div><br>
            <div>{{ item.timestamp | date : "EEEE, MMM dd" }}</div>
          </div>
        </div><!-- item item-divider header -->
        <div class="item item-image">
          <img class="route-image" ng-src="{{ item.photo }}" >
        </div>
      </div>
    </div>
    <br>

  </ion-content>

</ion-view>
