<ion-view>
  <ion-nav-title>
    <img class="header-logo-left" src="assets/img/logo-white.png"></img>
    Volunteer Opportunities
  </ion-nav-title>
  <ion-content class="padding pledges">
    <!-- <button ng-show="!currentUser.access_token" id="login-button" class="login button button-full button-calm" ng-click="goLogin()">Sign in</button> -->

    <div class="item item-divider section">
      Upcoming
    </div>

    <div class="list">
      <div class="card" ng-repeat="item in items">
        <div class="item item-avatar" ng-click="goItemDetail(item.item_id)">
          <img class="profile-img" ng-src="{{ item.user.photo_url }}">
          <h2>{{ item.issue_type }} cleanup</h2>
          <p>{{ item.volunteer_timestamp | date : "EEEE, M/d" }}</p>
        </div><!-- /item item-avatar -->

        <div class="item item-body" ng-click="goItemDetail(item.item_id)">
          <img class="full-image" ng-src="{{ item.photo }}">
          <p>
            <a href="#" class="subdued"> 
              {{ item_statuses.volunteer_counts[item.item_id] }} <icon class="ion-person-stalker"></icon>
            </a>
            <a href="#" class="subdued">{{ item_statuses.like_counts[item.item_id] }} Likes </a>
            <a href="#" class="subdued">{{ item_statuses.message_counts[item.item_id] }} Comments</a>
            <!--a href="#" class="subdued" ng-click="showComments=!showComments;$event.stopPropagation()">5 Comments</a-->
          </p> 
        </div><!-- /item-body -->

        <div class="item tabs tabs-secondary tabs-icon-left volunteer-actions">
          <a class="tab-item" ng-click="volunteerItem(item.item_id)">
              <span ng-show="!item_statuses.self_volunteer[item.item_id]"><i class="icon ion-ios-body"></i>Join</span>
              <span ng-show="item_statuses.self_volunteer[item.item_id]"><i class="icon ion-ios-body action-completed"></i>Joined</span>
          </a>

          <a class="tab-item" ng-click="likeItem(item.item_id)">
            <span ng-show="!item_statuses.self_like[item.item_id]"><i class="icon ion-thumbsup"></i>Like</span>
            <span ng-show="item_statuses.self_like[item.item_id]"><i class="icon ion-thumbsup action-completed"></i>Liked</span>
          </a>

          <a class="tab-item" ng-click="goItemDetail(item.item_id)">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
        </div><!-- / tabs-secondary -->
      </div><!-- /card -->

    </div><!-- /list -->


  </ion-content>

</ion-view>
